@table-border-color: #075b87;
@table-header-color: #1171a3;
@table-header-font-color: #fff;
@table-row-border-color: #c1e3ff;
@table-row-hower-color: #c1f3ff;
@table-row-selected-color: #81dff6;
@table-row-odd-color: #ecf5fe;
@table-row-even-color: #fff;
