body {
  background-color: white;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 10pt;
}
.nowrap {
  white-space: nowrap;
}
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.truncate-to-10px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 10px !important;
}
.truncate-to-1em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 1em !important;
}
.truncate-to-20px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20px !important;
}
.truncate-to-2em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 2em !important;
}
.truncate-to-30px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30px !important;
}
.truncate-to-3em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 3em !important;
}
.truncate-to-40px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40px !important;
}
.truncate-to-4em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 4em !important;
}
.truncate-to-50px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px !important;
}
.truncate-to-5em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 5em !important;
}
.truncate-to-60px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60px !important;
}
.truncate-to-6em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 6em !important;
}
.truncate-to-70px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70px !important;
}
.truncate-to-7em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 7em !important;
}
.truncate-to-80px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80px !important;
}
.truncate-to-8em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 8em !important;
}
.truncate-to-90px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90px !important;
}
.truncate-to-9em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 9em !important;
}
.truncate-to-100px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px !important;
}
.truncate-to-10em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 10em !important;
}
.truncate-to-110px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 110px !important;
}
.truncate-to-11em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 11em !important;
}
.truncate-to-120px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px !important;
}
.truncate-to-12em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 12em !important;
}
.truncate-to-130px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 130px !important;
}
.truncate-to-13em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 13em !important;
}
.truncate-to-140px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 140px !important;
}
.truncate-to-14em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 14em !important;
}
.truncate-to-150px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px !important;
}
.truncate-to-15em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 15em !important;
}
.truncate-to-160px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 160px !important;
}
.truncate-to-16em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 16em !important;
}
.truncate-to-170px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 170px !important;
}
.truncate-to-17em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 17em !important;
}
.truncate-to-180px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px !important;
}
.truncate-to-18em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 18em !important;
}
.truncate-to-190px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 190px !important;
}
.truncate-to-19em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 19em !important;
}
.truncate-to-200px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px !important;
}
.truncate-to-20em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20em !important;
}
.truncate-to-210px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 210px !important;
}
.truncate-to-21em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 21em !important;
}
.truncate-to-220px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px !important;
}
.truncate-to-22em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 22em !important;
}
.truncate-to-230px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 230px !important;
}
.truncate-to-23em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 23em !important;
}
.truncate-to-240px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 240px !important;
}
.truncate-to-24em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 24em !important;
}
.truncate-to-250px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px !important;
}
.truncate-to-25em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 25em !important;
}
.truncate-to-260px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 260px !important;
}
.truncate-to-26em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 26em !important;
}
.truncate-to-270px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 270px !important;
}
.truncate-to-27em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 27em !important;
}
.truncate-to-280px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 280px !important;
}
.truncate-to-28em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 28em !important;
}
.truncate-to-290px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 290px !important;
}
.truncate-to-29em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 29em !important;
}
.truncate-to-300px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px !important;
}
.truncate-to-30em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30em !important;
}
.truncate-to-310px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 310px !important;
}
.truncate-to-31em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 31em !important;
}
.truncate-to-320px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 320px !important;
}
.truncate-to-32em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 32em !important;
}
.truncate-to-330px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 330px !important;
}
.truncate-to-33em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 33em !important;
}
.truncate-to-340px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 340px !important;
}
.truncate-to-34em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 34em !important;
}
.truncate-to-350px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px !important;
}
.truncate-to-35em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 35em !important;
}
.truncate-to-360px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 360px !important;
}
.truncate-to-36em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 36em !important;
}
.truncate-to-370px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 370px !important;
}
.truncate-to-37em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 37em !important;
}
.truncate-to-380px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 380px !important;
}
.truncate-to-38em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 38em !important;
}
.truncate-to-390px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 390px !important;
}
.truncate-to-39em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 39em !important;
}
.truncate-to-400px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 400px !important;
}
.truncate-to-40em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40em !important;
}
.truncate-to-410px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 410px !important;
}
.truncate-to-41em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 41em !important;
}
.truncate-to-420px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 420px !important;
}
.truncate-to-42em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 42em !important;
}
.truncate-to-430px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 430px !important;
}
.truncate-to-43em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 43em !important;
}
.truncate-to-440px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 440px !important;
}
.truncate-to-44em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 44em !important;
}
.truncate-to-450px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 450px !important;
}
.truncate-to-45em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 45em !important;
}
.truncate-to-460px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 460px !important;
}
.truncate-to-46em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 46em !important;
}
.truncate-to-470px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 470px !important;
}
.truncate-to-47em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 47em !important;
}
.truncate-to-480px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 480px !important;
}
.truncate-to-48em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 48em !important;
}
.truncate-to-490px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 490px !important;
}
.truncate-to-49em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 49em !important;
}
.truncate-to-500px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 500px !important;
}
.truncate-to-50em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50em !important;
}
.truncate-to-510px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 510px !important;
}
.truncate-to-51em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 51em !important;
}
.truncate-to-520px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 520px !important;
}
.truncate-to-52em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 52em !important;
}
.truncate-to-530px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 530px !important;
}
.truncate-to-53em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 53em !important;
}
.truncate-to-540px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 540px !important;
}
.truncate-to-54em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 54em !important;
}
.truncate-to-550px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 550px !important;
}
.truncate-to-55em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 55em !important;
}
.truncate-to-560px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 560px !important;
}
.truncate-to-56em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 56em !important;
}
.truncate-to-570px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 570px !important;
}
.truncate-to-57em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 57em !important;
}
.truncate-to-580px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 580px !important;
}
.truncate-to-58em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 58em !important;
}
.truncate-to-590px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 590px !important;
}
.truncate-to-59em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 59em !important;
}
.truncate-to-600px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 600px !important;
}
.truncate-to-60em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60em !important;
}
.truncate-to-610px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 610px !important;
}
.truncate-to-61em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 61em !important;
}
.truncate-to-620px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 620px !important;
}
.truncate-to-62em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 62em !important;
}
.truncate-to-630px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 630px !important;
}
.truncate-to-63em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 63em !important;
}
.truncate-to-640px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 640px !important;
}
.truncate-to-64em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 64em !important;
}
.truncate-to-650px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 650px !important;
}
.truncate-to-65em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 65em !important;
}
.truncate-to-660px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 660px !important;
}
.truncate-to-66em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 66em !important;
}
.truncate-to-670px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 670px !important;
}
.truncate-to-67em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 67em !important;
}
.truncate-to-680px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 680px !important;
}
.truncate-to-68em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 68em !important;
}
.truncate-to-690px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 690px !important;
}
.truncate-to-69em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 69em !important;
}
.truncate-to-700px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 700px !important;
}
.truncate-to-70em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70em !important;
}
.truncate-to-710px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 710px !important;
}
.truncate-to-71em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 71em !important;
}
.truncate-to-720px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 720px !important;
}
.truncate-to-72em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 72em !important;
}
.truncate-to-730px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 730px !important;
}
.truncate-to-73em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 73em !important;
}
.truncate-to-740px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 740px !important;
}
.truncate-to-74em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 74em !important;
}
.truncate-to-750px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 750px !important;
}
.truncate-to-75em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75em !important;
}
.truncate-to-760px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 760px !important;
}
.truncate-to-76em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 76em !important;
}
.truncate-to-770px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 770px !important;
}
.truncate-to-77em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 77em !important;
}
.truncate-to-780px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 780px !important;
}
.truncate-to-78em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 78em !important;
}
.truncate-to-790px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 790px !important;
}
.truncate-to-79em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 79em !important;
}
.truncate-to-800px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 800px !important;
}
.truncate-to-80em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80em !important;
}
.form-group.has-error input.form-control {
  position: relative;
}
.form-group.has-error span.red {
  position: absolute;
}
.sam-t-space {
  margin-top: 16px;
}
.sam-b-space {
  margin-bottom: 16px;
}
.sam-v-space {
  margin-top: 16px;
  margin-bottom: 16px;
}
.sam-l-space {
  margin-left: 16px;
}
.sam-r-space {
  margin-right: 16px;
}
.sam-h-space {
  margin-left: 16px;
  margin-right: 16px;
}
label {
  font-size: 14px;
  font-weight: bold;
}
