.nowrap {
  white-space: nowrap;
}
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.truncate-10px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 10px;
}
.truncate-1em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 1em;
}
.truncate-20px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20px;
}
.truncate-2em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 2em;
}
.truncate-30px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30px;
}
.truncate-3em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 3em;
}
.truncate-40px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40px;
}
.truncate-4em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 4em;
}
.truncate-50px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px;
}
.truncate-5em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 5em;
}
.truncate-60px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60px;
}
.truncate-6em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 6em;
}
.truncate-70px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70px;
}
.truncate-7em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 7em;
}
.truncate-80px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80px;
}
.truncate-8em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 8em;
}
.truncate-90px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90px;
}
.truncate-9em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 9em;
}
.truncate-100px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
}
.truncate-10em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 10em;
}
.truncate-110px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 110px;
}
.truncate-11em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 11em;
}
.truncate-120px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px;
}
.truncate-12em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 12em;
}
.truncate-130px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 130px;
}
.truncate-13em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 13em;
}
.truncate-140px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 140px;
}
.truncate-14em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 14em;
}
.truncate-150px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}
.truncate-15em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 15em;
}
.truncate-160px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 160px;
}
.truncate-16em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 16em;
}
.truncate-170px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 170px;
}
.truncate-17em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 17em;
}
.truncate-180px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px;
}
.truncate-18em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 18em;
}
.truncate-190px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 190px;
}
.truncate-19em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 19em;
}
.truncate-200px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
.truncate-20em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20em;
}
.truncate-210px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 210px;
}
.truncate-21em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 21em;
}
.truncate-220px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
}
.truncate-22em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 22em;
}
.truncate-230px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 230px;
}
.truncate-23em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 23em;
}
.truncate-240px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 240px;
}
.truncate-24em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 24em;
}
.truncate-250px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
}
.truncate-25em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 25em;
}
.truncate-260px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 260px;
}
.truncate-26em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 26em;
}
.truncate-270px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 270px;
}
.truncate-27em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 27em;
}
.truncate-280px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 280px;
}
.truncate-28em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 28em;
}
.truncate-290px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 290px;
}
.truncate-29em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 29em;
}
.truncate-300px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
}
.truncate-30em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30em;
}
.truncate-310px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 310px;
}
.truncate-31em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 31em;
}
.truncate-320px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 320px;
}
.truncate-32em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 32em;
}
.truncate-330px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 330px;
}
.truncate-33em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 33em;
}
.truncate-340px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 340px;
}
.truncate-34em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 34em;
}
.truncate-350px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
}
.truncate-35em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 35em;
}
.truncate-360px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 360px;
}
.truncate-36em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 36em;
}
.truncate-370px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 370px;
}
.truncate-37em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 37em;
}
.truncate-380px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 380px;
}
.truncate-38em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 38em;
}
.truncate-390px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 390px;
}
.truncate-39em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 39em;
}
.truncate-400px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 400px;
}
.truncate-40em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40em;
}
.truncate-410px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 410px;
}
.truncate-41em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 41em;
}
.truncate-420px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 420px;
}
.truncate-42em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 42em;
}
.truncate-430px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 430px;
}
.truncate-43em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 43em;
}
.truncate-440px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 440px;
}
.truncate-44em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 44em;
}
.truncate-450px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 450px;
}
.truncate-45em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 45em;
}
.truncate-460px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 460px;
}
.truncate-46em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 46em;
}
.truncate-470px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 470px;
}
.truncate-47em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 47em;
}
.truncate-480px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 480px;
}
.truncate-48em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 48em;
}
.truncate-490px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 490px;
}
.truncate-49em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 49em;
}
.truncate-500px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 500px;
}
.truncate-50em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50em;
}
.truncate-510px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 510px;
}
.truncate-51em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 51em;
}
.truncate-520px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 520px;
}
.truncate-52em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 52em;
}
.truncate-530px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 530px;
}
.truncate-53em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 53em;
}
.truncate-540px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 540px;
}
.truncate-54em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 54em;
}
.truncate-550px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 550px;
}
.truncate-55em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 55em;
}
.truncate-560px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 560px;
}
.truncate-56em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 56em;
}
.truncate-570px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 570px;
}
.truncate-57em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 57em;
}
.truncate-580px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 580px;
}
.truncate-58em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 58em;
}
.truncate-590px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 590px;
}
.truncate-59em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 59em;
}
.truncate-600px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 600px;
}
.truncate-60em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60em;
}
.truncate-610px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 610px;
}
.truncate-61em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 61em;
}
.truncate-620px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 620px;
}
.truncate-62em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 62em;
}
.truncate-630px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 630px;
}
.truncate-63em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 63em;
}
.truncate-640px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 640px;
}
.truncate-64em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 64em;
}
.truncate-650px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 650px;
}
.truncate-65em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 65em;
}
.truncate-660px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 660px;
}
.truncate-66em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 66em;
}
.truncate-670px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 670px;
}
.truncate-67em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 67em;
}
.truncate-680px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 680px;
}
.truncate-68em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 68em;
}
.truncate-690px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 690px;
}
.truncate-69em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 69em;
}
.truncate-700px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 700px;
}
.truncate-70em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70em;
}
.truncate-710px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 710px;
}
.truncate-71em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 71em;
}
.truncate-720px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 720px;
}
.truncate-72em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 72em;
}
.truncate-730px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 730px;
}
.truncate-73em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 73em;
}
.truncate-740px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 740px;
}
.truncate-74em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 74em;
}
.truncate-750px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 750px;
}
.truncate-75em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75em;
}
.truncate-760px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 760px;
}
.truncate-76em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 76em;
}
.truncate-770px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 770px;
}
.truncate-77em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 77em;
}
.truncate-780px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 780px;
}
.truncate-78em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 78em;
}
.truncate-790px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 790px;
}
.truncate-79em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 79em;
}
.truncate-800px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 800px;
}
.truncate-80em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80em;
}
.action-buttons {
  white-space: nowrap;
  margin: 0!important;
  padding: 0!important;
}
.action-buttons button {
  width: 50%;
  float: left;
}
.form-group.has-error > div input.form-control {
  position: relative;
}
.form-group.has-error > div span.red {
  position: absolute;
}
