.nowrap {
  white-space: nowrap;
}
.action-buttons {
  white-space: nowrap;
  margin: 0!important;
  padding: 0!important;
}
.action-buttons button {
  width: 50%;
  float: left;
}
.form-group.has-error > div input.form-control {
  position: relative;
}
.form-group.has-error > div span.red {
  position: absolute;
}
