.sam-table .panel-heading {
  border-bottom-width: 0;
}
.sam-table .dataTables_wrapper > div:last-child {
  height: 0;
  overflow: hidden;
}
.dataTables_wrapper .dataTables_scroll {
  border: 1px solid #075b87 !important;
}
.dataTables_wrapper .dataTables_scrollBody {
  border-bottom: none!important;
}
.dataTables_wrapper table.dataTable {
  width: 100%!important;
}
.dataTables_wrapper table.dataTable thead .sorting {
  background: #1171a3 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7XQMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC') /*../../Content/DataTables/images/sort_both.png*/ no-repeat right center;
}
.dataTables_wrapper table.dataTable thead .sorting_desc {
  background: #1171a3 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=') /*../../Content/DataTables/images/sort_desc.png*/ no-repeat right center;
}
.dataTables_wrapper table.dataTable thead .sorting_asc {
  background: #1171a3 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==') /*../../Content/DataTables/images/sort_asc.png*/ no-repeat right center;
}
.dataTables_wrapper table.dataTable thead tr th:first-child {
  display: table-cell;
  line-height: 12px;
}
.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable thead td {
  padding: 0 8px;
  border-right: 1px solid #075b87;
  border-bottom: 1px solid #075b87;
  font-size: 13px;
  color: #ffffff;
}
.dataTables_wrapper table.dataTable thead th:last-child,
.dataTables_wrapper table.dataTable thead td:last-child {
  border-right: none;
}
.dataTables_wrapper table.dataTable tbody td,
.dataTables_wrapper table.dataTable tbody th {
  border-right: 1px solid #c1e3ff;
  border-bottom: 1px solid #c1e3ff;
  border-top: none;
  font-size: 13px;
  padding: 0 8px;
}
.dataTables_wrapper table.dataTable tbody td:last-child,
.dataTables_wrapper table.dataTable tbody th:last-child {
  border-right: none;
}
.dataTables_wrapper table.dataTable tbody tr:nth-of-type(even) {
  background: #ffffff;
}
.dataTables_wrapper table.dataTable tbody tr:nth-of-type(odd) {
  background: #ecf5fe;
}
.dataTables_wrapper table.dataTable tbody tr:hover {
  background: #c1f3ff;
}
.dataTables_wrapper .dataTables_scrollHeadInner {
  background: #1171a3;
}
