#lists .editDoorList input[st-search] {
  width: 150px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 26px;
}
#lists .editDoorList .st-table-wrapper {
  height: 294px;
}
#lists .editDoorList nav {
  text-align: center;
}
#lists .editDoorList ul.doors {
  height: 344px;
  border: solid 1px #4c5051;
  overflow: auto;
}
#lists .editDoorList ul.doors li {
  padding: 4px 8px;
}
#lists .editDoorList ul.doors li:nth-of-type(even) {
  background: #fff;
}
#lists .editDoorList ul.doors li:nth-of-type(odd) {
  background: #ecf5fe;
}
#lists .editDoorList ul.doors li:hover {
  background: #c1f3ff;
}
