<!-- #region - Name - -->
<div class="form-group" ng-class="{ 'has-warning' : form.name.$invalid }">
    <label class="control-label" translate>Name</label>
    <div>
        <input class="form-control" type="text" placeholder="required" autofocus required ng-model="$item.Name" name="name" />
        <span ng-show="form.name.$invalid && form.name.$touched" class="red" translate>MustBeSet</span>
    </div>

    <label class="control-label" translate>Address1</label>
    <input class="form-control" type="text" ng-model="$item.Address1" />

    <label class="control-label" translate>Address2</label>
    <input class="form-control" type="text" ng-model="$item.Address2" />

    <label class="control-label" translate>Owner</label>
    <ui-select class="form-control" ng-model="$item.OwnerId" ng-disabled="!$.owners">
        <ui-select-match allow-clear="true">
            {{$select.selected.UserName}}
        </ui-select-match>
        <ui-select-choices repeat="owner.Id as owner in $.owners track by owner.Id">
            {{owner.UserName}}
        </ui-select-choices>
    </ui-select>
</div>
<!-- #endregion -->
