<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">

                <!-- #region Country -->
                <div class="row panel panel-default sam-table">
                    <h3 class="panel-heading">
                        <button ng-click="$.AddCountry()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg"></i></button>
                        <span translate>Countries</span>
                    </h3>
                    <div class="panel-body">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                                <tr>
                                    <th translate class="auto-size">Name</th>
                                    <th translate>CreatedBy</th>
                                    <th translate>CreatedDate</th>
                                    <th translate>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="country in $.countries track by country.Id"
                                    ng-click="$.selectedCountry=country"
                                    ng-class="{active: $.selectedCountry===country}">
                                    <td>{{country.Name}}</td>
                                    <td>{{::country.CreatedBy.UserName}}</td>
                                    <td>{{::country.CreatedDate | date}}</td>
                                    <td class="action-buttons">
                                        <button ng-click="$.EditCountry(country)" class="btn btn-warning btn-icon"><i class="fa fa-edit fa-lg"></i></button>
                                        <button ng-click="$.DeleteCountry(country)" class="btn btn-danger btn-icon"><i class="fa fa-trash-o fa-lg"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- #endregion Country -->

                <!-- #region City -->
                <div class="row panel panel-default sam-table">
                    <h3 class="panel-heading">
                        <button ng-click="$.AddCity()" ng-disabled="!$.selectedCountry" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg"></i></button>
                        <span translate>Cities</span>
                    </h3>
                    <div class="panel-body">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                                <tr>
                                    <th translate class="auto-size">Name</th>
                                    <th translate>ZipCode</th>
                                    <th translate>CreatedBy</th>
                                    <th translate>CreatedDate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="city in $.cities track by city.Id"
                                    ng-click="$.selectedCity=city"
                                    ng-class="{active: $.selectedCity===city}">
                                    <td>{{city.Name}}</td>
                                    <td>{{city.ZipCode}}</td>
                                    <td>{{::city.CreatedBy.UserName}}</td>
                                    <td>{{::city.CreatedDate | date}}</td>
                                    <td class="action-buttons">
                                        <button ng-click="$.EditCity(city)" class="btn btn-warning btn-icon"><i class="fa fa-edit fa-lg"></i></button>
                                        <button ng-click="$.DeleteCity(city)" class="btn btn-danger btn-icon"><i class="fa fa-trash-o fa-lg"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- #endregion City -->

                <!-- #region Building -->
                <div class="row panel panel-default sam-table">
                    <h3 class="panel-heading">
                        <button ng-click="$.AddBuilding()" ng-disabled="!$.selectedCity" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg"></i></button>
                        <span translate>Buildings</span>
                    </h3>
                    <div class="panel-body">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                                <tr>
                                    <th translate class="auto-size">Name</th>
                                    <th translate>Owner</th>
                                    <th translate>CreatedBy</th>
                                    <th translate>CreatedDate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="building in $.buildings track by building.Id"
                                    ng-click="$.selectedBuilding=building"
                                    ng-class="{active: $.selectedBuilding===building}">
                                    <td>{{building.Name}}</td>
                                    <td>{{building.Owner.Name}}</td>
                                    <td>{{::building.CreatedBy.UserName}}</td>
                                    <td>{{::building.CreatedDate | date}}</td>
                                    <td class="action-buttons">
                                        <button ng-click="$.EditBuilding(building)" class="btn btn-warning btn-icon"><i class="fa fa-edit fa-lg"></i></button>
                                        <button ng-click="$.DeleteBuilding(building)" class="btn btn-danger btn-icon"><i class="fa fa-trash-o fa-lg"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- #endregion Building -->

                <!-- #region Area -->
                <div class="row panel panel-default sam-table">
                    <h3 class="panel-heading">
                        <button ng-click="$.AddArea()" ng-disabled="!$.selectedBuilding" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg"></i></button>
                        <span translate>Areas</span>
                    </h3>
                    <div class="panel-body">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                                <tr>
                                    <th translate class="auto-size">Name</th>
                                    <th translate>Owner</th>
                                    <th translate>CreatedBy</th>
                                    <th translate>CreatedDate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="area in $.areas track by area.Id"
                                    ng-click="$.selectedArea=area"
                                    ng-class="{active: $.selectedArea===area}">
                                    <td>{{area.Name}}</td>
                                    <td>{{area.Owner.Name}}</td>
                                    <td>{{::area.CreatedBy.UserName}}</td>
                                    <td>{{::area.CreatedDate | date}}</td>
                                    <td class="action-buttons">
                                        <button ng-click="$.EditArea(area)" class="btn btn-warning btn-icon"><i class="fa fa-edit fa-lg"></i></button>
                                        <button ng-click="$.DeleteArea(area)" class="btn btn-danger btn-icon"><i class="fa fa-trash-o fa-lg"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- #endregion Area -->
            </div>
        </div>
    </section>
</section>