<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <div class="col _col-lg-4">
                    <!-- #region Country -->
                    <div st-table
                         st-items-by-page="5"
                         sam-st-table="{service: 'samCountries', editTemplate: 'editCountry.html', onLoad: $.CountriesLoaded, prepareQuery1: $.prepareQuery, prepareEdit1: $.prepareEdit}">

                        <!-- #region - Title / Search - -->
                        <div class="st-table-search">
                            <h3>
                                <button ng-click="$edit()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                                <span>Countries</span>
                            </h3>
                            <input st-search class="form-control" translate translate-attr-placeholder="Search..." />
                        </div>
                        <!-- #endregion -->

                        <table>
                            <!-- #region - Columns - -->
                            <thead>
                                <tr>
                                    <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                                    <th translate st-sort-default auto-size st-sort="Name">Name</th>
                                    <th translate st-sort="CreatedBy.Id">CreatedBy</th>
                                    <th translate st-sort="CreatedDate">CreatedDate</th>
                                </tr>
                            </thead>
                            <!-- #endregion -->
                            <!-- #region - Rows - -->
                            <tbody>
                                <tr ng-repeat="country in $items track by country.Id"
                                    ng-click="$.selectedCountryId=country.Id"
                                    ng-class="{active: $.selectedCountryId===country.Id}">
                                    <td class="st-action-buttons">
                                        <button ng-click="$edit(country)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                        <button ng-click="$delete(country)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                                    </td>
                                    <td>{{country.Name}}</td>
                                    <td class="col-created-by">{{::country.CreatedBy.Name}}</td>
                                    <td class="col-created-date">{{::country.CreatedDate | date}}</td>
                                </tr>
                            </tbody>
                            <!-- #endregion -->
                        </table>
                    </div>
                    <!-- #endregion Country -->
                    <!-- #region City -->
                    <div st-table
                         st-items-by-page="5"
                         sam-st-table="{service: 'samCities', editTemplate: 'editCity.html', onLoad: $.CitiesLoaded, prepareQuery: $.prepareCitiesQuery, prepareEdit: $.prepareCityEdit}">

                        <!-- #region - Title / Search - -->
                        <div class="st-table-search">
                            <h3>
                                <button ng-click="$edit()" ng-disabled="!$.selectedCountryId" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                                <span>Cities</span>
                            </h3>
                            <input st-search="Name,ZipCode" class="form-control" translate translate-attr-placeholder="Search..." />
                        </div>
                        <!-- #endregion -->

                        <table>
                            <!-- #region - Columns - -->
                            <thead>
                                <tr>
                                    <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                                    <th translate st-sort-default auto-size st-sort="Name">Name</th>
                                    <th translate>ZipCode</th>
                                    <th translate st-sort="CreatedBy.Id">CreatedBy</th>
                                    <th translate st-sort="CreatedDate">CreatedDate</th>
                                </tr>
                            </thead>
                            <!-- #endregion -->
                            <!-- #region - Rows - -->
                            <tbody>
                                <tr ng-repeat="city in $items track by city.Id"
                                    ng-click="$.selectedCityId=city.Id"
                                    ng-class="{active: $.selectedCityId===city.Id}">
                                    <td class="st-action-buttons">
                                        <button ng-click="$edit(city)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                        <button ng-click="$delete(city)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                                    </td>
                                    <td>{{city.Name}}</td>
                                    <td>{{city.ZipCode}}</td>
                                    <td class="col-created-by">{{::city.CreatedBy.Name}}</td>
                                    <td class="col-created-date">{{::city.CreatedDate | date}}</td>
                                </tr>
                            </tbody>
                            <!-- #endregion -->
                        </table>
                    </div>
                    <!-- #endregion City -->
                </div>

                <div class="col _col-lg-4">
                    <!-- #region - Customer - -->
                    <div class="form-group">
                        <label class="control-label" translate>Customer</label>
                        <ui-select class="form-control" ng-model="$.selectedCustomerId" ng-disabled="!$.customers">
                            <ui-select-match allow-clear="true">
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="customer.Id as customer in $.customers track by customer.Id">
                                {{customer.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Building -->
                    <div st-table
                         st-items-by-page="5"
                         sam-st-table="{service: 'samBuildings', editTemplate: 'editBuilding.html', onLoad: $.BuildingsLoaded, prepareQuery: $.prepareBuildingsQuery, prepareEdit: $.prepareBuildingEdit}">

                        <!-- #region - Title / Search - -->
                        <div class="st-table-search">
                            <h3>
                                <button ng-click="$edit()" ng-disabled="!$.selectedCityId" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                                <span>Buildings</span>
                            </h3>
                            <input st-search="Name,Owner.Name" class="form-control" translate translate-attr-placeholder="Search..." />
                        </div>
                        <!-- #endregion -->

                        <table>
                            <!-- #region - Columns - -->
                            <thead>
                                <tr>
                                    <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                                    <th translate st-sort-default auto-size st-sort="Name">Name</th>
                                    <th translate>Owner</th>
                                    <th translate st-sort="CreatedBy.Id">CreatedBy</th>
                                    <th translate st-sort="CreatedDate">CreatedDate</th>
                                </tr>
                            </thead>
                            <!-- #endregion -->
                            <!-- #region - Rows - -->
                            <tbody>
                                <tr ng-repeat="building in $items track by building.Id"
                                    ng-click="$.selectedBuildingId=building.Id"
                                    ng-class="{active: $.selectedBuildingId===building.Id}">
                                    <td class="st-action-buttons">
                                        <button ng-click="$edit(building)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                        <button ng-click="$delete(building)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                                    </td>
                                    <td>{{building.Name}}</td>
                                    <td class="max-truncate-20em">{{building.Owner.Name}}</td>
                                    <td class="col-created-by">{{::building.CreatedBy.Name}}</td>
                                    <td class="col-created-date">{{::building.CreatedDate | date}}</td>
                                </tr>
                            </tbody>
                            <!-- #endregion -->
                        </table>
                    </div>
                    <!-- #endregion Building -->
                    <!-- #region Area -->
                    <div st-table
                         st-items-by-page="5"
                         sam-st-table="{service: 'samAreas', editTemplate: 'editArea.html', onLoad: $.AreasLoaded, prepareQuery: $.prepareLoadAreasQuery, prepareEdit: $.prepareAreaEdit}">

                        <!-- #region - Title / Search - -->
                        <div class="st-table-search">
                            <h3>
                                <button ng-click="$edit()" ng-disabled="!$.selectedBuildingId" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                                <span>Areas</span>
                            </h3>
                            <input st-search="Name,Owner.Name" class="form-control" translate translate-attr-placeholder="Search..." />
                        </div>
                        <!-- #endregion -->

                        <table>
                            <!-- #region - Columns - -->
                            <thead>
                                <tr>
                                    <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                                    <th translate st-sort-default auto-size st-sort="Name">Name</th>
                                    <th translate>Owner</th>
                                    <th translate st-sort="CreatedBy.Id">CreatedBy</th>
                                    <th translate st-sort="CreatedDate">CreatedDate</th>
                                </tr>
                            </thead>
                            <!-- #endregion -->
                            <!-- #region - Rows - -->
                            <tbody>
                                <tr ng-repeat="area in $items track by area.Id"
                                    ng-click="$.selectedAreaId=area.Id"
                                    ng-class="{active: $.selectedAreaId===area.Id}">
                                    <td class="st-action-buttons">
                                        <button ng-click="$edit(area)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                        <button ng-click="$delete(area)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                                    </td>
                                    <td>{{area.Name}}</td>
                                    <td class="max-truncate-20em">{{area.Owner.Name}}</td>
                                    <td class="col-created-by">{{::area.CreatedBy.Name}}</td>
                                    <td class="col-created-date">{{::area.CreatedDate | date}}</td>
                                </tr>
                            </tbody>
                            <!-- #endregion -->
                        </table>
                    </div>
                    <!-- #endregion Area -->
                </div>

                <div class="_col-lg-4">
                    <!-- #region Doors -->
                    <div st-table
                         st-items-by-page="5"
                         sam-st-table="{service: 'samDoors', editTemplate: 'editDoor.html', onLoad: $.DoorsLoaded, prepareQuery: $.prepareLoadDoorsQuery, prepareEdit: $.prepareDoorEdit}">

                        <!-- #region - Title / Search - -->
                        <div class="st-table-search">
                            <h3>
                                <button ng-click="$edit()" ng-disabled="!$.selectedAreaId" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                                <span>Doors</span>
                            </h3>
                            <input st-search="Name,Owner.Name" class="form-control" translate translate-attr-placeholder="Search..." />
                        </div>
                        <!-- #endregion -->

                        <table>
                            <!-- #region - Columns - -->
                            <thead>
                                <tr>
                                    <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                                    <th translate st-sort-default auto-size st-sort="Name">Name</th>
                                    <th translate>Owner</th>
                                    <th translate>ApprovalLevel</th>
                                    <th translate>PreApproved</th>
                                    <th translate st-sort="CreatedBy.Id">CreatedBy</th>
                                    <th translate st-sort="CreatedDate">CreatedDate</th>
                                </tr>
                            </thead>
                            <!-- #endregion -->
                            <!-- #region - Rows - -->
                            <tbody>
                                <tr ng-repeat="door in $items track by door.Id"
                                    ng-click="$.selectedDoorId=door.Id"
                                    ng-class="{active: $.selectedDoorId===door.Id}">
                                    <td class="st-action-buttons">
                                        <button ng-click="$edit(door)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                        <button ng-click="$delete(door)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                                    </td>
                                    <td>{{door.Name}}</td>
                                    <td class="max-truncate-20em">{{door.Owner.Name}}</td>
                                    <td class="nowrap text-center">{{door.ApprovalLevel | ApprovalLevel}}</td>
                                    <td class="nowrap text-center">{{door.PreApproved | YesNo}}</td>
                                    <td class="col-created-by">{{::door.CreatedBy.Name}}</td>
                                    <td class="col-created-date">{{::door.CreatedDate | date}}</td>
                                </tr>
                            </tbody>
                            <!-- #endregion -->
                        </table>
                    </div>
                    <!-- #endregion Doors -->
                </div>

            </div>
        </div>
    </section>
</section>