<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
                    <div class="row">
                        <h2 translate>ActivateCard</h2>
                        <p translate>DESCRIPTION</p>
                    </div>
                    <pre class="bg-danger" translate ng-show="$.noPinCode">YouHaveNoPinCode</pre>
                    <div class="row">
                        <form class="form-horizontal" novalidate role="form" name="form">
                            <div class="form-group has-validation has-warning" ng-class="{ 'has-error' : form.activationCode.$invalid && form.activationCode.$touched }">
                                <label translate class="col-sm-4 control-label">ActivationCode</label>
                                <div class="col-sm-6 col-md-4">
                                    <input ng-model="$.activationCode" class="form-control" name="activationCode" required translate translate-attr-translate translate-attr-placeholder="required">
                                    <span ng-show="form.activationCode.$invalid && form.activationCode.$touched" class="red" translate>MustBeSet</span>
                                </div>
                            </div>
                            <div class="form-group has-validation has-warning" ng-class="{ 'has-error' : form.pinCode.$invalid && form.pinCode.$touched }">
                                <label translate class="col-sm-4 control-label">PinCode</label>
                                <div class="col-sm-6 col-md-4">
                                    <input ng-model="$.pinCode" class="form-control" name="pinCode" required translate translate-attr-translate translate-attr-placeholder="required">
                                    <span ng-show="form.pinCode.$invalid && form.pinCode.$touched" class="red" translate>MustBeSet</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-6 col-md-4 text-right">
                                    <button translate type="submit" ng-disabled="$.noPinCode" ng-click="$.Activate(form)" class="btn btn-default">Activate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>