<!-- #region - Name - -->
<div class="form-group" ng-class="{ 'has-warning' : form.name.$invalid }">
    <label class="control-label" translate>Name</label>
    <div>
        <input class="form-control" type="text" placeholder="required" autofocus required ng-model="$item.Name" name="name" />
        <span ng-show="form.name.$invalid && form.name.$touched" class="red" translate>MustBeSet</span>
    </div>
</div>
<!-- #endregion -->

<!-- #region - Address1 - -->
<div class="form-group">
    <label class="control-label" translate>Address 1</label>
    <div>
        <input class="form-control" type="text" ng-model="$item.Address1" />
    </div>
</div>
<!-- #endregion -->

<!-- #region - Address2 - -->
<div class="form-group">
    <label class="control-label" translate>Address 2</label>
    <div>
        <input class="form-control" type="text" ng-model="$item.Address2" />
    </div>
</div>
<!-- #endregion -->

<!-- #region - ZipCode - -->
<div class="form-group">
    <label class="control-label" translate>Zip code</label>
    <div>
        <input class="form-control" type="text" ng-model="$item.ZipCode" />
    </div>
</div>
<!-- #endregion -->
