#customers {

    // Move table search block inside group header
    .dataTables_wrapper.dataTables_no_paging {
        .dataTables_filter {
            margin-top: -44px;
            margin-right: 12px;
        }
    }

    .dataTables_wrapper.form-inline.dt-bootstrap {
        .row {
            margin-top: 0;
        } 
    }

    .row.panel {
        .panel-body {
            padding: 0;
        }
    }
}
