<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">

                <div class="row panel panel-default">
                    <h3 class="panel-heading">
                        <!--<i class="fa fa-plus" ng-click="$.AddCustomer()">&nbsp;</i>-->
                        <button ng-click="$.AddCustomer()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg"></i></button>
                        <span translate>Customers</span>
                    </h3>
                    <div class="panel-body">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                                <tr>
                                    <th translate>Name</th>
                                    <th translate>CreatedBy</th>
                                    <th translate>CreatedDate</th>
                                    <th translate>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="customer in $.customers track by customer.Id"
                                    ng-click="$.selectedCustomer=customer"
                                    ng-class="{active: $.selectedCustomer===customer}">
                                    <td>{{::customer.Name}}</td>
                                    <td>{{::customer.CreatedBy.UserName}}</td>
                                    <td>{{::customer.CreatedDate | date}}</td>
                                    <!--
                                    <td><a translate ng-click="">Edit</a></td>
                                    -->
                                    <td>
                                        <!--
                                        <i class="fa fa-edit fa-lg" ng-click="$.EditCustomer(customer)"></i>
                                        <span style="margin-left: 1em"></span>
                                        <i class="fa fa-trash fa-lg" ng-click="$.DeleteCustomer(customer)"></i>
                                        -->
                                        <button ng-click="$.EditCustomer(customer)" class="btn btn-warning btn-icon"><i class="fa fa-edit fa-lg"></i></button>
                                        <button ng-click="$.DeleteCustomer(customer)" class="btn btn-danger btn-icon"><i class="fa fa-trash-o fa-lg"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="row panel panel-default">
                    <h3 class="panel-heading">
                        <!--
                        <i class="fa fa-plus" ng-click="$.AddCompany()">&nbsp;</i>
                        -->
                        <button ng-click="$.AddCompany()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg"></i></button>
                        <span translate>Companies</span>
                    </h3>
                    <div class="panel-body">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                                <tr>
                                    <th translate>Name</th>
                                    <th translate>Address1</th>
                                    <th translate>Address2</th>
                                    <th translate>ZipCode</th>
                                    <th translate>CreatedBy</th>
                                    <th translate>CreatedDate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="company in $.companies track by company.Id"
                                    ng-click="$.selectedCompany=company"
                                    ng-class="{active: $.selectedCompany===company}">
                                    <td>{{::company.Name}}</td>
                                    <td>{{::company.Address1}}</td>
                                    <td>{{::company.Address2}}</td>
                                    <td>{{::company.ZipCode}}</td>
                                    <td>{{::company.CreatedBy.UserName}}</td>
                                    <td>{{::company.CreatedDate | date}}</td>
                                    <td>
                                        <!--
                                        <i class="fa fa-edit fa-lg" ng-click="$.EditCompany(company)"></i>
                                        <span style="margin-left: 1em"></span>
                                        <i class="fa fa-trash fa-lg" ng-click="$.DeleteCompany(company)"></i>
                                        -->
                                        <button ng-click="$.EditCompany(company)" class="btn btn-warning btn-icon"><i class="fa fa-edit fa-lg"></i></button>
                                        <button ng-click="$.DeleteCompany(company)" class="btn btn-danger btn-icon"><i class="fa fa-trash-o fa-lg"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row panel panel-default">
                    <h3 class="panel-heading">
                        <!--
                        <i class="fa fa-plus" ng-click="$.AddDepartment()">&nbsp;</i>
                        -->
                        <button ng-click="$.AddDepartment()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg"></i></button>
                        <span translate>Departments</span>
                    </h3>
                    <div class="panel-body">
                        <table datatable="ng" class="row-border hover">
                            <thead>
                                <tr>
                                    <th translate>Name</th>
                                    <th translate>CreatedBy</th>
                                    <th translate>CreatedDate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="department in $.departments track by department.Id"
                                    ng-click="$.selectedDepartment=department"
                                    ng-class="{active: $.selectedDepartment===department}">
                                    <td>{{::department.Name}}</td>
                                    <td>{{::department.CreatedBy.UserName}}</td>
                                    <td>{{::department.CreatedDate | date}}</td>
                                    <td>
                                        <!--
                                        <i class="fa fa-edit fa-lg" ng-click="$.EditDepartment(department)"></i>
                                        <span style="margin-left: 1em"></span>
                                        <i class="fa fa-trash fa-lg" ng-click="$.DeleteDepartment(department)"></i>
                                        -->
                                        <button ng-click="$.EditDepartment(department)" class="btn btn-warning btn-icon"><i class="fa fa-edit fa-lg"></i></button>
                                        <button ng-click="$.DeleteDepartment(department)" class="btn btn-danger btn-icon"><i class="fa fa-trash-o fa-lg"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>