<section class="mainbar">
    <section class="matter">
        <div class="container-fluid">

            <div class="row">
                <!-- #region - CardStatus - -->
                <div class="col-md-6 col">
                    <div class="form-group">
                        <label class="control-label" translate>Cards</label>
                        <ui-select class="form-control" ng-model="$.selectedCardStatus">
                            <ui-select-match allow-clear="true" placeholder="SelectCardStatus">
                                {{$select.selected | CardStatus}}
                            </ui-select-match>
                            <ui-select-choices repeat="status in [] | CardStatus">
                                {{status | CardStatus}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region - Customer - -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate>Customer</label>
                        <ui-select class="form-control" ng-model="$.selectedCustomerId" ng-disabled="!$.customers">
                            <ui-select-match allow-clear="true" placeholder="All Customers">
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="customer.Id as customer in $.customers track by customer.Id">
                                {{customer.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div> <!-- #endregion -->
            </div>


            <div class="row">

                <div st-table
                        sam-st-table="{service: 'samCards', editTemplate: '_editCard.html', prepareQuery: $.prepareQuery, prepareEdit: $.prepareEdit}">

                    <!-- #region - Title / Search - -->
                    <div class="st-table-search">
                        <h3 style="display: inline-block">
                            <button ng-click="$edit()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                            <span>Cards</span>
                        </h3>
                        <input st-search="Number:i" class="form-control" translate translate-attr-placeholder="Search..." />
                    </div>
                    <!-- #endregion -->

                    <table>
                        <!-- #region - Columns - -->
                        <thead>
                            <tr>
                                <th class="text-center"><i class="fa fa-cogs fa-lg"></i></th>
                                <th translate st-sort-default st-sort="Number">Number</th>
                                <th translate st-sort="ActivationCode">ActivationCode</th>
                                <th translate st-sort="Status">Status</th>
                                <th translate st-sort="CardType">CardType</th>
                                <th translate auto-size st-sort="CreatedBy.Id">CreatedBy</th>
                                <th translate st-sort="CreatedDate">CreatedDate</th>
                            </tr>
                        </thead>
                        <!-- #endregion -->
                        <!-- #region - Loading... - -->
                        <tbody ng-show="$loading || $items.length == 0">
                            <tr>
                                <td colspan="7" class="text-center">
                                    <span ng-show="!$loading && $items.length == 0" translate>NoTableData</span>
                                    <span ng-show="$loading" translate>LoadingTable</span>
                                </td>
                            </tr>
                        </tbody>
                        <!-- #endregion -->
                        <!-- #region - Rows - -->
                        <tbody ng-hide="$loading">
                            <tr ng-repeat="card in $items track by card.Id">
                                <td class="st-action-buttons">
                                    <button ng-click="$edit(card)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                    <button ng-click="$delete(card)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                                </td>
                                <td>{{card.Number | CardNumber}}</td>
                                <td nowrap>{{card.ActivationCode}}</td>
                                <td nowrap>{{card.Status | CardStatus}}</td>
                                <td nowrap>{{card.CardType | CardType}}</td>
                                <td class="col-created-by">{{::card.CreatedBy.Name}}</td>
                                <td class="col-created-date">{{::card.CreatedDate | date}}</td>
                            </tr>
                        </tbody>
                        <!-- #endregion -->
                    </table>

                    <!-- #region - Paging - -->
                    <div class="tfoot" st-pagination st-items-by-page="20"></div>
                    <!-- #endregion -->

                </div>
            </div>

        </div>
    </section>
</section>