<section class="mainbar">
    <section class="matter">
        <div class="container">
<!--
            <div class="row">
                <h2 translate>MyAccess</h2>
            </div>
-->
            <div class="row">
                <!-- #region - Access Doors - -->
                <div st-table
                     st-items-by-page="99999999"
                     st-show-page-sizes="false"
                     sam-st-table="{service: 'samCardAccess', prepareQuery: $.prepareQuery}">
                    <div class="st-table-search">
                        <h2 style="display: inline-block">
                            <span translate>MyAccessTitle</span>
                        </h2>
                        <input st-search="Door.Area.Building.City.Name,Door.Area.Building.Name,Door.Area.Name,Door.Name" class="form-control" translate translate-attr-placeholder="Search..." />
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th nowrap translate auto-size st-sort-default st-sort="Door.Area.Building.City.Name">City</th>
                                <th nowrap translate auto-size st-sort="Door.Area.Building.Name">Building</th>
                                <th nowrap translate auto-size st-sort="Door.Area.Name">Area</th>
                                <th nowrap translate auto-size st-sort="Door.Name">Door</th>
                                <th nowrap st-sort="TimeZone.Name" translate>TimeZone</th>
                                <th nowrap translate>Access</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cardAccess in $items track by cardAccess.Id">
                                <td>{{cardAccess.Door.Area.Building.City.Name}}</td>
                                <td>{{cardAccess.Door.Area.Building.Name}}</td>
                                <td>{{cardAccess.Door.Area.Name}}</td>
                                <td>{{cardAccess.Door.Name}}</td>
                                <td tooltip="{{cardAccess.TimeZone.Description}}">{{cardAccess.TimeZone.Name}}</td>
                                <td><div class="nowrap label" ng-class="{'label-warning': cardAccess.ApprovalStatus === 0, 'label-success': cardAccess.ApprovalStatus === 1, 'label-important': cardAccess.ApprovalStatus === 2}">{{cardAccess.ApprovalStatus | ApprovalStatus}}</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- #endregion -->
            </div>
        </div>
    </section>
</section>