<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container-fluid">
            <!-- #region Customers -->
            <div st-table class="sam-b-space"
                 st-items-by-page="5"
                 sam-st-table="{service: 'samCustomers', editTemplate: 'editCustomer.html', onLoad: $.CustomersLoaded}">

                <!-- #region - Title / Search - -->
                <div class="st-table-search">
                    <h3>
                        <button ng-click="$edit()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                        <span translate>Customers</span>
                    </h3>
                    <input st-search class="form-control" translate translate-attr-placeholder="Search..." />
                </div>
                <!-- #endregion -->

                <table>
                    <!-- #region - Columns - -->
                    <thead>
                        <tr>
                            <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                            <th translate st-sort-default auto-size st-sort="Name">Name</th>
                            <th nowrap translate st-sort="CreatedBy.Id">CreatedBy</th>
                            <th nowrap translate st-sort="CreatedDate">CreatedDate</th>
                        </tr>
                    </thead>
                    <!-- #endregion -->
                    <!-- #region - Rows - -->
                    <tbody>
                        <tr ng-repeat="item in $items track by item.Id"
                            ng-click="$.selectedCustomerId=item.Id"
                            ng-class="{active: $.selectedCustomerId===item.Id}">
                            <td class="st-action-buttons">
                                <button ng-click="$edit(item)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                <button ng-click="$delete(item)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                            </td>
                            <td>{{item.Name}}</td>
                            <td class="col-created-by">{{::item.CreatedBy.Name}}</td>
                            <td class="col-created-date">{{::item.CreatedDate | date}}</td>
                        </tr>
                    </tbody>
                    <!-- #endregion -->
                </table>
            </div>
            <!-- #endregion Customers -->


            <!-- #region Companies -->
            <div st-table class="sam-b-space"
                 st-items-by-page="5"
                 sam-st-table="{service: 'samCompanies', editTemplate: 'editCompany.html', onLoad: $.CompaniesLoaded, prepareQuery: $.prepareCompaniesQuery, prepareEdit: $.prepareCompanyEdit}">

                <!-- #region - Title / Search - -->
                <div class="st-table-search">
                    <h3>
                        <button ng-click="$edit()" ng-disabled="!$.selectedCustomerId" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                        <span translate>Companies</span>
                    </h3>
                    <input st-search="Name,Address1,Address2,ZipCode" class="form-control" translate translate-attr-placeholder="Search..." />
                </div>
                <!-- #endregion -->

                <table>
                    <!-- #region - Columns - -->
                    <thead>
                        <tr>
                            <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                            <th translate st-sort-default st-sort="Name">Name</th>
                            <th translate auto-size st-sort="Address1">Address1</th>
                            <th translate auto-size st-sort="Address2">Address2</th>
                            <th translate st-sort="ZipCode">ZipCode</th>
                            <th nowrap translate st-sort="CreatedBy.Id">CreatedBy</th>
                            <th nowrap translate st-sort="CreatedDate">CreatedDate</th>
                        </tr>
                    </thead>
                    <!-- #endregion -->
                    <!-- #region - Rows - -->
                    <tbody>
                        <tr ng-repeat="item in $items track by item.Id"
                            ng-click="$.selectedCompanyId=item.Id"
                            ng-class="{active: $.selectedCompanyId===item.Id}">
                            <td class="st-action-buttons">
                                <button ng-click="$edit(item)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                <button ng-click="$delete(item)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                            </td>
                            <td nowrap>{{item.Name}}</td>
                            <td>{{item.Address1}}</td>
                            <td>{{item.Address2}}</td>
                            <td>{{item.ZipCode}}</td>
                            <td class="col-created-by">{{::item.CreatedBy.Name}}</td>
                            <td class="col-created-date">{{::item.CreatedDate | date}}</td>
                        </tr>
                    </tbody>
                    <!-- #endregion -->
                </table>
            </div>
            <!-- #endregion Companies -->


            <!-- #region Departments -->
            <div st-table
                    st-items-by-page="5"
                    sam-st-table="{service: 'samDepartments', editTemplate: 'editDepartment.html', prepareQuery: $.prepareDepartmentsQuery, prepareEdit: $.prepareDepartmentEdit}">

                <!-- #region - Title / Search - -->
                <div class="st-table-search">
                    <h3>
                        <button ng-click="$edit()" ng-disabled="!$.selectedCompanyId" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                        <span translate>Departments</span>
                    </h3>
                    <input st-search class="form-control" translate translate-attr-placeholder="Search..." />
                </div>
                <!-- #endregion -->

                <table>
                    <!-- #region - Columns - -->
                    <thead>
                        <tr>
                            <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                            <th translate auto-size st-sort-default st-sort="Name">Name</th>
                            <th nowrap translate st-sort="CreatedBy.Id">CreatedBy</th>
                            <th nowrap translate st-sort="CreatedDate">CreatedDate</th>
                        </tr>
                    </thead>
                    <!-- #endregion -->
                    <!-- #region - Rows - -->
                    <tbody>
                        <tr ng-repeat="item in $items track by item.Id"
                            ng-click="$.selectedDepartmentId=item.Id"
                            ng-class="{active: $.selectedDepartmentId===item.Id}">
                            <td class="st-action-buttons">
                                <button ng-click="$edit(item)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                                <button ng-click="$delete(item)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                            </td>
                            <td nowrap>{{item.Name}}</td>
                            <td class="col-created-by">{{::item.CreatedBy.Name}}</td>
                            <td class="col-created-date">{{::item.CreatedDate | date}}</td>
                        </tr>
                    </tbody>
                    <!-- #endregion -->
                </table>
            </div>
            <!-- #endregion Departments -->
        </div>
    </section>
</section>