#lists .editDoorList table {
  height: 344px;
}
#lists .editDoorList ul.doors {
  height: 344px;
  border: solid 1px #0b4665;
  overflow: auto;
}
#lists .editDoorList ul.doors li {
  padding: 4px 8px;
}
#lists .editDoorList ul.doors li:nth-of-type(even) {
  background: #ffffff;
}
#lists .editDoorList ul.doors li:nth-of-type(odd) {
  background: #ecf5fe;
}
#lists .editDoorList ul.doors li:hover {
  background: #c1f3ff;
}
