<section class="mainbar">
    <section class="matter">
        <div class="container-fluid">
            <div class="row">
                <!-- #region - Customer - -->
                <div class="____col-md-6">
                    <div class="form-group">
                        <label class="control-label" translate>Customer</label>
                        <ui-select class="form-control" ng-model="$.selectedCustomerId" ng-disabled="!$.customers">
                            <ui-select-match allow-clear="true" placeholder="All Customers">
                                {{$select.selected.Name}}
                            </ui-select-match>
                            <ui-select-choices repeat="customer.Id as customer in $.customers track by customer.Id">
                                {{customer.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!-- #endregion -->

                <!-- #region - DoorList - -->
                <table st-table
                       sam-st-table="{service: 'samDoorLists', controller: 'editDoorList', editTemplate: 'editDoorList.html', prepareQuery: $.prepareDoorListQuery, prepareEdit: $.prepareEdit}">
                    <thead>
                        <tr class="table-heading">
                            <td colspan="4">
                                <h3>
                                    <button ng-click="$edit()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg"></i></button>
                                    <span translate>DoorLists</span>
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <th class="auto-size" translate st-sort-default st-sort="Name">Name</th>
                            <th translate st-sort="CreatedBy.Id">CreatedBy</th>
                            <th translate st-sort="CreatedDate">CreatedDate</th>
                            <th translate>Action</th>
                        </tr>
                    </thead>
                    <tbody ng-show="$loading">
                        <tr>
                            <td colspan="6" class="text-center" translate>Loading ... </td>
                        </tr>
                    </tbody>
                    <tbody ng-hide="$loading">
                        <tr ng-repeat="doorList in $items track by doorList.Id">
                            <td>{{::doorList.Name}}</td>
                            <td><div class="col-created-by">{{::doorList.CreatedBy.Name}}</div></td>
                            <td><div class="col-created-date">{{::doorList.CreatedDate | date}}</div></td>
                            <td class="action-buttons">
                                <button ng-click="$edit(doorList)" class="btn btn-warning btn-icon"><i class="fa fa-edit fa-lg"></i></button>
                                <button ng-click="$delete(doorList)" class="btn btn-danger btn-icon"><i class="fa fa-trash-o fa-lg"></i></button>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination st-items-by-page="20" colspan="4"></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- #endregion -->

            </div>

        </div>
    </section>
</section>